:root {
  --cc-bg: rgba(0, 0, 0, 0.0);
  --noti-border-color: rgba(157, 189, 255, 1);
  --noti-bg: 39, 45, 75;
  --noti-bg-alpha: 1;
  --noti-bg-darker: rgb(38, 38, 38);
  --noti-bg-hover: rgba(255, 255, 255, 0);
  --noti-bg-focus: rgba(68, 68, 68, 0);
  --noti-close-bg: rgba(78, 78, 78, 0);
  --noti-close-bg-hover: rgba(94, 94, 94, 0);
  --text-color: rgb(255, 255, 255);
  --text-color-disabled: rgb(150, 150, 150);
  --bg-selected: rgb(0, 128, 255);
  --notification-icon-size: 80px;
  --notification-app-icon-size: calc(var(--notification-icon-size) / 3);
  --notification-group-icon-size: 32px;
  --border-size: 6px;
  --border: var(--border-size) solid var(--noti-border-color);
  --border-radius: 16px;
  /* --notification-shadow: 0 0 0 1px rgba(0, 0, 0, 0.3),
    0 1px 3px 1px rgba(0, 0, 0, 0.7), 0 2px 6px 2px rgba(0, 0, 0, 0.3); */
  --notification-shadow: 7px 7px 5px #1A1A1ABB; 
  --font-size-body: 18px;
  --font-size-summary: 22px;
  /* Deprecated variables (because of their typos). Keeeping them around for backwards compatibility. */
  --hover-tranistion: background 0.15s ease-in-out;
  --group-collapse-tranistion: opacity 400ms ease-in-out;
  --hover-transition: var(--hover-tranistion);
  --group-collapse-transition: var(--group-collapse-tranistion);

  --font-size-time: 16px;
  --slider-checked: rgba(154, 169, 199, 1);
  --widget-border: 6px solid rgba(89, 95, 125, 1);
  --widget-background: rgba(39, 45, 75, 1);
}
