:root {
  --cc-bg: rgba(0, 0, 0, 0.0);
  --noti-border-color: rgba(157, 189, 255, 1);
  --noti-bg: 39, 45, 75;
  --noti-bg-alpha: 1;
  --noti-bg-darker: rgb(38, 38, 38);
  --noti-bg-hover: rgba(255, 255, 255, 0);
  --noti-bg-focus: rgba(68, 68, 68, 0);
  --noti-close-bg: rgba(78, 78, 78, 0);
  --noti-close-bg-hover: rgba(94, 94, 94, 0);
  --text-color: rgb(255, 255, 255);
  --text-color-disabled: rgb(150, 150, 150);
  --border: var(--border-size) solid var(--noti-border-color);
  --slider-checked: rgba(154, 169, 199, 1);
  --widget-border: 6px solid rgba(89, 95, 125, 1);
  --widget-background: rgba(39, 45, 75, 0.65);
}
