@define-color bar-bg #37274F;

@define-color inactive-text #A6A6A6;
@define-color hover-text #D8D8D8;
@define-color active-text #FFFFFF;

@define-color module-bg #9B5EBF;
@define-color button-hl #663377;
