* {
    font-family: JetBrainsMono Nerd Font, FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 20px;
	font-weight: bold;
	border: none;
}

tooltip {
	border-radius: 15px;
	margin: 10px;
}


window#waybar {
    background-color: alpha(#351c1d, 0.4);
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 15px;
}

button:hover {
    background: inherit;
}

#workspaces button {
    padding: 0px 10px;
    color: alpha(#969696, 1);
	background-color: transparent;
	margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 3px;
    padding-left: 3px;
    padding-right: 3px;
    margin-right: 3px;
    transition: all 0.2s cubic-bezier(0,0,.2,1)
}

#workspaces button:hover {
    color: alpha(#C8C8C8, 1);
}

#workspaces button.focused {
    color: alpha(#FFFFFF, 1);
    background-color: #662266;
	margin-left: 3px;
    padding-left: 12px;
    padding-right: 12px;
    margin-right: 3px;
    transition: all 0.25s cubic-bezier(0,0,.2,1)
}

#workspaces button.urgent {
    background-color: inherit;
}

#mode {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}

#window {
    padding-left: 12px;
    color: alpha(#FFFFFF, 1);
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    background-color: transparent;
}

#battery {
    background-color: transparent; 
    color: #FFFFFF;
}

#battery.charging, #battery.plugged {
    color: #BBFFBB;
    background-color: transparent;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    color: #ba0000;
}

label:focus {
    background-color: #000000;
}


#memory {
    background-color: transparent;
    color: #FFFFFF;
}

#disk {
    background-color: #964B00;
}

#backlight {
    background-color: #90b1b1;
}

#network {
    background-color: #2980b9;
}

#network.disconnected {
    background-color: #f53c3c;
}

#wireplumber {
    background-color: #fff0f5;
    color: #000000;
}

#wireplumber.muted {
    background-color: #f53c3c;
}

#custom-media {
    background-color: #66cc99;
    color: #2a5c45;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: #66cc99;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}

#temperature {
    background-color: transparent;
    color: #FFFFFF;
}

#temperature.critical {
    background-color: transparent;
    color: #ba0000;
}

#idle_inhibitor {
    background-color: #2d3436;
}

#idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: #2d3436;
}

#mpd {
    background-color: #66cc99;
    color: #2a5c45;
}

#mpd.disconnected {
    background-color: #f53c3c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}

#language {
    background: #00b093;
    color: #740864;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state {
    background: #97e1ad;
    color: #000000;
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad {
    background: transparent;
}

#scratchpad.empty {
	background-color: transparent;
}

#custom-power,
#pulseaudio,
#scratchpad,
#hardware,
#battery,
#privacy,
#taskbar,
#clock,
#tray,
#workspaces {
	background-color: #4A224A;
    border-radius: 20px;
	border: 4px solid alpha(#000000, 0.6);
	margin: 6px 4px 8px 4px;
	padding-left: 10px;
	padding-right: 10px;
}

#taskbar.empty {
	background: transparent;
	border: transparent;
	margin: 0px;
	padding: 0px
}

.modules-left {
	margin-left: 4px;
}
.modules-right {
	margin-right: 4px;
}
