* {
	font-family: Maple Mono NF CN;
	font-size: 1rem;
	font-weight: bold;
	border: none;
}

@import "colours.css";

#wireplumber,
#connection,
#pulseaudio,
#scratchpad,
#hardware,
#language,
#privacy,
#taskbar,
#clock,
#tray,
#workspaces {
	background-color: @module-bg;
	border-radius: 500rem;
	border: 0.2rem solid alpha(#000000, 0.6);
	color: @active-text;
	margin: 0.3rem 0.25rem;
	padding: 0.2rem 0.7rem;
	transition: all 0.3s cubic-bezier(0,0,0.2,1)
}

tooltip {
	border-radius: 2rem;
	margin: 1rem;
}


window#waybar {
	background-color: alpha(@bar-bg, 1);
}

button {
	box-shadow: inset 0 -0.25rem transparent;
	border: none;
	border-radius: 5rem;
}

button:hover {
	background: inherit;
}

#workspaces button {
	padding: 0rem 0.2rem;
	margin: 0rem 0rem;
	color: alpha(@inactive-text, 1);
	transition: all 0.3s cubic-bezier(0,0,0.2,1)
}

#workspaces button:hover {
	color: alpha(@hover-text, 1);
}

#workspaces button.active,
#workspaces button.focused {
	padding: 0rem 1rem;
	margin: 0rem 0rem;
	color: alpha(@active-text, 1);
	background-color: @button-hl;
	transition: all 0.3s cubic-bezier(0,0,0.2,1)
}

#workspaces button.urgent {
	background-color: inherit;
}

#battery.charging, #battery.plugged {
	color: #BBFFBB;
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
	color: #ba0000;
}


#treperature.critical {
	background-color: transparent;
	color: #ba0000;
}

#taskbar.repty {
	background: transparent;
	border: transparent;
	margin: 0rem;
	padding: 0rem
}

.modules-left {
	margin-left: 1rem;
}
.modules-right {
	margin-right: 1rem;
}
