@define-color bar-bg #42574F;

@define-color inactive-text #BBBBBB;
@define-color hover-text #CCCCCC;
@define-color active-text #E6E6E6;

@define-color module-bg #6B9E7F;
@define-color button-hl #4B6E5F;
