@define-color bar-bg #8AB789;

@define-color inactive-text #DDDDDD;
@define-color hover-text #EEEEEE;
@define-color active-text #FFFFFF;

@define-color module-bg #9AC7A9;
@define-color button-hl #6A8769;
