:root {
  --cc-bg: rgba(0, 0, 0, 0.0);
  --noti-border-color: alpha(#9AC7A9, 1);
  --noti-bg: 106, 151, 121;
  --noti-bg-alpha: 1;
  --noti-bg-darker: rgb(38, 38, 38);
  --noti-bg-hover: rgba(255, 255, 255, 0);
  --noti-bg-focus: rgba(68, 68, 68, 0);
  --noti-close-bg: rgba(78, 78, 78, 0);
  --noti-close-bg-hover: rgba(94, 94, 94, 0);
  --text-color: rgb(255, 255, 255);
  --text-color-disabled: rgb(150, 150, 150);
  --border: var(--border-size) solid var(--noti-border-color);
  --slider-checked: rgba(154, 199, 169, 1);
  --widget-border: 6px solid rgba(103, 148, 118, 0.65);
  --widget-background: rgba(58, 103, 73, 0.65);
}
